# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [48]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np
import scipy.stats as stats

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [8]:
pokemon_df =df

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

#Null Hypothesis (H0): The mean HP of Dragon-type Pokémon is equal to the mean HP of Grass-type Pokémon.
#Alternative Hypothesis (H1): The mean HP of Dragon-type Pokémon is greater than the mean HP of Grass-type Pokémon.

In [ ]:
H0 : avg HP dragon =avg HP grass
H1 :avg HP dragon > avg HP grass

significance 5%

In [10]:
#filter the data with from type and HP
dragon_hp = pokemon_df[pokemon_df['Type 1'] == 'Dragon']['HP']
grass_hp = pokemon_df[pokemon_df['Type 1'] == 'Grass']['HP']

In [33]:
t_stat, pvalue=st.ttest_ind(dragon_hp, grass_hp, equal_var=False)

In [34]:
print(f"T-statistic: {t_stat}")
print(f"P-value: {pvalue}")

T-statistic: 3.3349632905124063
P-value: 0.0015987219490841197

In [35]:
alpha = 0.05

if p_value < alpha:
    
    print("Reject the null hypothesis: Dragon higher HP than Grass HP")
else:
    print("Fail to reject the null hypothesis: No significant difference in Dragon HP and Grass HP")

Reject the null hypothesis: Dragon higher HP than Grass HP

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [18]:
H0 : Legendary Pokemons !=Non-Legendary Pokemons
H1 :avg HP dragon > avg HP grass

In [53]:
pokemon_df["Legendary"].unique()

array([False,  True])

In [60]:
#df_legendary = pokemon_df[pokemon_df['Legendary'] == True] & (pokemon_df['HP', 'Attack', 'Defense', 'Sp.Atk', 'Sp.Def', 'Speed'])
#df_non_legendary = pokemon_df[pokemon_df['Legendary'] == False] & (pokemon_df['HP', 'Attack', 'Defense', 'Sp.Atk', 'Sp.Def', 'Speed'])

In [55]:
df_legendary = pokemon_df[pokemon_df['Legendary'] == True]
df_non_legendary = pokemon_df[pokemon_df['Legendary'] == False]

In [69]:
different_stats = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
alpha = 0.05

In [73]:
for stat in different_stats:
    t_stat, p_value = stats.ttest_ind(legendary[stat], non_legendary[stat], equal_var=False)  # Using Welch's t-test for unequal variances
    print(f"Testing {stat}:")
    print(f"  statistic: {t_stat}")
    print(f"  P-value: {p_value}")

Testing HP:
  statistic: 8.981370483625046
  P-value: 1.0026911708035284e-13
Testing Attack:
  statistic: 10.438133539322203
  P-value: 2.520372449236646e-16
Testing Defense:
  statistic: 7.637078164784618
  P-value: 4.8269984949193316e-11
Testing Sp. Atk:
  statistic: 13.417449984138461
  P-value: 1.5514614112239812e-21
Testing Sp. Def:
  statistic: 10.015696613114878
  P-value: 2.2949327864052826e-15
Testing Speed:
  statistic: 11.47504444631443
  P-value: 1.049016311882451e-18

In [ ]:
#p-value is less than alpha Fail to reject the null hypothesis

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [87]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [88]:
housing_data = df

In [95]:
housing_data.shape

(17000, 9)

In [90]:
housing_data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
#H0 : house close to a school / hospital if the distance is lower than 0.50 are expensive

In [91]:
#Coordinates of the school and hospital
school_coords = np.array([-118, 37])
hospital_coords = np.array([-122, 34])

In [100]:
# Function to calculate Euclidean distance 
#(The Euclidean distance formula is used to find the distance between two points on a plane. This formula says the distance between two points (x1 1 , y1 1 ) and (x2 2 , y2 2 ) is d = √[(x2 – x1)2 + (y2 – y1)2].)

def euclidean_distance(point1, point2):
    return np.sqrt(np.sum((point1 - point2) ** 2))

In [107]:

# Calculate distances to the school and hospital
housing_data['distance_to_school'] = np.sqrt((housing_data['longitude'] - school_coords[0]) ** 2 + (housing_data['latitude'] - school_coords[1]) ** 2)
housing_data['distance_to_hospital'] = np.sqrt((housing_data['longitude'] - hospital_coords[0]) ** 2 + (housing_data['latitude'] - hospital_coords[1]) ** 2)

In [108]:
# Classify houses as 'close' if the distance to either the school or the hospital is less than 0.50
housing_data['close_to_school_or_hospital'] = np.where((housing_data['distance_to_school'] < 0.50) | (housing_data['distance_to_hospital'] < 0.50), 'close', 'far')

In [110]:
# Separate the houses into 'close' and 'far' groups
close_houses = housing_data[housing_data['close_to_school_or_hospital'] == 'close']
far_houses = housing_data[housing_data['close_to_school_or_hospital'] == 'far']

In [113]:
# Perform t-test to compare prices #st.ttest_ind(df_male,df_female, equal_var=False)
t_stat, p_value = st.ttest_ind(close_houses['median_house_value'], far_houses['median_house_value'], equal_var=False)

In [123]:
# Set the significance level
alpha = 0.05

# Print the results
print(f"T-statistic:{t_stat}")
print(f"P-value:{p_value:.5f}")

#print(f"  P-value: {p_value:.3f}")

if p_value < alpha:
    print("Reject the null hypothesis: Houses close to a school or hospital are more expensive.")
else:
    print("Fail to reject the null hypothesis: No significant difference in prices for houses close to or far from a school or hospital.")

T-statistic:-17.174167998688404
P-value:0.00005
Reject the null hypothesis: Houses close to a school or hospital are more expensive.